/* ==========================================================================
   # STATUS MONITOR
   ========================================================================== */

.c-status-monitor {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  &__container {
    padding: spacing('large');
    max-width: 700px;
  }

    &__display-id {
      margin: 0;
    }

    &__status {
      font-family: $font-family-decoration;

      @include inuit-font-size($font-size-h3);
    }

    &__message {
      margin-bottom: spacing('large');
    }

    &__meta {
      display: grid;
      grid-template-columns: 1fr auto;
    }

      &__label {
        font-weight: bold;
        text-align: left;
      }

      &__value {
        text-align: right;
      }
}
