/* ==========================================================================
   # APPLICATION / STATUS MONITOR
   ========================================================================== */

.scope {
  position: fixed;
  inset: 0;
  background-color: var(--color-grey-darker);
  padding: var(--spacing-huge);
}

.monitor-name {
  margin: 0;
  margin-bottom: var(--spacing-base);
}

.status {
  font-family: var(--font-family-decoration);
  font-size: var(--font-size-h3);
}

.message {
  margin-bottom: var(--spacing-large);
}

.meta {
  display: grid;
  grid-template-columns: 1fr auto;
}

.label {
  font-weight: bold;
  text-align: left;
}

.value {
  text-align: right;
}
