/* ==========================================================================
   # APPLICATION / SETUP
   ========================================================================== */

.scope {
  position: fixed;
  inset: 0;
  background-color: var(--color-grey-darker);
  display: grid;
  align-items: center;
  justify-content: center;
}
